.form{
    justify-content: center;
    margin:34px auto;
    display: flex;
    flex-direction: column;
    width:360px;
}

.form h1{
    text-align: center;
    margin-top: 20px;
    font-size: 35px;
    font-weight: 800;
    color: #ee6f15;
}

.form div{
    display: flex;
    flex-direction: column;
}

.form div input,.form div textarea{
    /* font-weight: bolder; */
    background-color: #e5e5e5;
    font-family: monospace;
    font-style: italic;
    padding: 5px 19px;
    color: black;
    border-radius: 10px;
    border-left: 5px solid black;
}

.form div input:focus,.form div textarea:focus{
    background-color: #cfcece;
    outline-style: unset;
}

.form div textarea{
    min-height: 120px;
    max-height: 170px;
}

.form div label{
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 9px;
    color: #ee6f15;
}

.form button{
    padding: 5px;
    font-weight: 800;
    margin-top: 35px;
    color: black;
    border-radius: 10px;
    width: 100%;
    background-color: #ee6f15;
    transition: .1s ease-in-out;
}

.form button:hover{
    background-color: #c05910;
}
