---

---
<div class="mb-6 grid gap-8 items-start justify-center">
    <div class="relative group">
    <div class="absolute -inset-0.5 bg-gradient-to-r from-primary-300 via-primary-500 to-primary-700 dark:from-primary-200 dark:via-primary-500 dark:to-primary-800 rounded-lg blur opacity-75 group-hover:opacity-100 transition duration-1000 group-hover:duration-200 animate-tilt"></div>
    <button name="#contact" class="relative px-7 py-4 bg-slate-800 dark:bg-black rounded-lg leading-none flex items-center  divide-gray-600">
      <span class="flex items-center space-x-5">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 dark:text-primary-400 text-orange-400 -rotate-6" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z" />
          </svg>
          
        <span class="pr-6 text-gray-100">Don't have a website yet?</span>
      </span>
      <span class="pl-6 text-primary-400 dark:text-primary-400 group-hover:text-gray-100 transition duration-200"><a href="#contact">I can make it happen for you &rarr;</a></span>
    </button>
  </div>
</div>
