---
import styles from '../styles/ContactForm.module.css'
---
<form class={styles.form} action="https://formspree.io/f/xqkoaqke" method="POST">
    <div>
        <label for="name">NAME:</label>
        <input name="name" id="name" type="text" required >
        
        
        <label for="surname">SURNAME:</label>
        <input name="surname" id="surname" type="text" required > 
        
        
        <label for="email">EMAIL:</label>
        <input name="email" id="email" type="email" required >

        <label for="website">WEBSITE:</label>
        <input name="website" id="website" type="text">
        
        <label for="phone">PHONE</label>
        <input name="phone" id="phone" type="tel" required >
    </div>
       
    <div>
        <label for="message">MESSAGE:</label>
        <textarea name="message" id="message" required ></textarea>
    </div>

    <button type="submit">SUBMIT <i class="fa-regular fa-paper-plane"></i></button>
</form>
