---
import cv from "../../public/cv/shukur-cv.pdf";
---

<section class="mb-11">
  <div class="mb-4">
    <h1
      class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-primary-300 via-primary-500 to-primary-700 dark:from-primary-200 dark:via-primary-500 dark:to-primary-800 bg-clip-text text-transparent"
        ><a title="click to download CV" href={cv} download>Shukur Huseynli</a>
      </span>
    </h1>
    <p class="text-2xl pb-4">Frontend Developer.</p>
  </div>
  <div>
    <p class="mb-5">
      Hardworking Frontend Developer. Knowledgeable in <a>user interfaces,</a>
      <a>responsiveness,</a> <a>debugging processes,</a> able to work independently with
      HTML,CSS & JavaScript technologies. Loves learning new things in
      technology field. Also effectively self-manage during independent projects,
      as well as collaborate in a team setting.
    </p>
  </div>
</section>
