---
---

<div class="mt-4 flex flex-col items-center justify-center">
    <div>
        <h3 class="font-extrabold text-3xl text-center pt-4 pb-8 bg-gradient-to-br from-primary-300 via-primary-500 to-primary-700 dark:from-primary-200 dark:via-primary-500 dark:to-primary-800 bg-clip-text text-transparent">Skills</h3>
    </div>
    <div class="grid sm:grid-cols-3 md:grid-cols-4  grid-cols-2 justify-center">
        <div class="drop-shadow-lg duration-300 ease-out from-slate-100 via-slate-300 to-slate-400 hover:bg-gradient-to-br dark:from-slate-400 dark:via-slate-600 dark:to-slate-800 mx-2 my-2 py-2 px-5 flex flex-col justify-center items-center rounded-lg border-2 border-slate-400">
            <img class="drop-shadow-lg text-[10px]  dark:text-white" src="https://simpleicons.vercel.app/typescript/333"/>
            <p class="font-[600]">TypeScript</p>
        </div>
        <div class="drop-shadow-lg duration-300 ease-out from-slate-100 via-slate-300 to-slate-400 hover:bg-gradient-to-br dark:from-slate-400 dark:via-slate-600 dark:to-slate-800 mx-2 my-2 py-2 px-5 flex flex-col justify-center items-center rounded-lg border-2 border-slate-400">
            <img class="drop-shadow-lg text-[10px]  dark:text-white" src="https://simpleicons.vercel.app/javascript/333"/>
            <p class="font-[600]">Javascript</p>
        </div>
        <div class="drop-shadow-lg duration-300 ease-out from-slate-100 via-slate-300 to-slate-400 hover:bg-gradient-to-br dark:from-slate-400 dark:via-slate-600 dark:to-slate-800 mx-2 my-2 py-2 px-5 flex flex-col justify-center items-center rounded-lg border-2 border-slate-400">
            <img class="drop-shadow-lg text-[10px]  dark:text-white" src="https://simpleicons.vercel.app/html5/333"/>
            <p class="font-[600]">HTML</p>
        </div>
        <div class="drop-shadow-lg duration-300 ease-out from-slate-100 via-slate-300 to-slate-400 hover:bg-gradient-to-br dark:from-slate-400 dark:via-slate-600 dark:to-slate-800 mx-2 my-2 py-2 px-5 flex flex-col justify-center items-center rounded-lg border-2 border-slate-400">
            <img class="drop-shadow-lg text-[10px]  dark:text-white" src="https://simpleicons.vercel.app/css3/333"/>
            <p class="font-[600]">CSS</p>
        </div>
        <div class="drop-shadow-lg duration-300 ease-out from-slate-100 via-slate-300 to-slate-400 hover:bg-gradient-to-br dark:from-slate-400 dark:via-slate-600 dark:to-slate-800 mx-2 my-2 py-2 px-5 flex flex-col justify-center items-center rounded-lg border-2 border-slate-400">
            <img class="drop-shadow-lg text-[10px]  dark:text-white" src="https://simpleicons.vercel.app/nodedotjs/333"/>
            <p class="font-[600]">Node.js</p>
        </div>
        <div class="drop-shadow-lg duration-300 ease-out from-slate-100 via-slate-300 to-slate-400 hover:bg-gradient-to-br dark:from-slate-400 dark:via-slate-600 dark:to-slate-800 mx-2 my-2 py-2 px-5 flex flex-col justify-center items-center rounded-lg border-2 border-slate-400">
            <img class="drop-shadow-lg text-[10px]  dark:text-white" src="https://simpleicons.vercel.app/react/333"/>
            <p class="font-[600]">React</p>
        </div>
        <div class="drop-shadow-lg duration-300 ease-out from-slate-100 via-slate-300 to-slate-400 hover:bg-gradient-to-br dark:from-slate-400 dark:via-slate-600 dark:to-slate-800 mx-2 my-2 py-2 px-5 flex flex-col justify-center items-center rounded-lg border-2 border-slate-400">
            <img class="drop-shadow-lg text-[10px]  dark:text-white" src="https://simpleicons.vercel.app/nextdotjs/333"/>
            <p class="font-[600]">Next.js</p>
        </div>
        <div class="drop-shadow-lg duration-300 ease-out from-slate-100 via-slate-300 to-slate-400 hover:bg-gradient-to-br dark:from-slate-400 dark:via-slate-600 dark:to-slate-800 mx-2 my-2 py-2 px-5 flex flex-col justify-center items-center rounded-lg border-2 border-slate-400">
            <img class="drop-shadow-lg text-[10px]  dark:text-white" src="https://simpleicons.vercel.app/tailwindcss/333"/>
            <p class="font-[600]">TailwindCSS</p>
        </div>
        <div class="drop-shadow-lg duration-300 ease-out from-slate-100 via-slate-300 to-slate-400 hover:bg-gradient-to-br dark:from-slate-400 dark:via-slate-600 dark:to-slate-800 mx-2 my-2 py-2 px-5 flex flex-col justify-center items-center rounded-lg border-2 border-slate-400">
            <img class="drop-shadow-lg text-[10px]  dark:text-white" src="https://simpleicons.vercel.app/figma/333"/>
            <p class="font-[600]">Figma</p>
        </div>
        <div class="drop-shadow-lg duration-300 ease-out from-slate-100 via-slate-300 to-slate-400 hover:bg-gradient-to-br dark:from-slate-400 dark:via-slate-600 dark:to-slate-800 mx-2 my-2 py-2 px-5 flex flex-col justify-center items-center rounded-lg border-2 border-slate-400">
            <img class="drop-shadow-lg text-[10px]  dark:text-white" src="https://simpleicons.vercel.app/adobephotoshop/333"/>
            <p class="font-[600]">Photoshop</p>
        </div>
    </div>
</div>