---
---

<div class="mt-4 flex flex-col items-center justify-center">
    <div>
        <h3 class="font-extrabold text-3xl text-center pt-4 pb-8 bg-gradient-to-br from-primary-300 via-primary-500 to-primary-700 dark:from-primary-200 dark:via-primary-500 dark:to-primary-800 bg-clip-text text-transparent">Skills</h3>
    </div>
    <div class="grid sm:grid-cols-3 md:grid-cols-4  grid-cols-2 justify-center">
        <div class="drop-shadow-lg duration-300 ease-out from-slate-100 via-slate-300 to-slate-400 hover:bg-gradient-to-br dark:from-slate-400 dark:via-slate-600 dark:to-slate-800 mx-2 my-2 py-2 px-5 flex flex-col justify-center items-center rounded-lg border-2 border-slate-400">
            <i class="drop-shadow-lg fa-brands fa-square-js text-4xl  dark:text-white"></i>
            <p>Javascript</p>
        </div>
        <div class="drop-shadow-lg duration-300 ease-out from-slate-100 via-slate-300 to-slate-400 hover:bg-gradient-to-br dark:from-slate-400 dark:via-slate-600 dark:to-slate-800 mx-2 my-2 py-2 px-5 flex flex-col justify-center items-center rounded-lg border-2 border-slate-400">
            <i class="drop-shadow-lg fa-brands fa-html5 text-4xl  dark:text-white"></i>
            <p>HTML</p>
        </div>
        <div class="drop-shadow-lg duration-300 ease-out from-slate-100 via-slate-300 to-slate-400 hover:bg-gradient-to-br dark:from-slate-400 dark:via-slate-600 dark:to-slate-800 mx-2 my-2 py-2 px-5 flex flex-col justify-center items-center rounded-lg border-2 border-slate-400">
            <i class="drop-shadow-lg fa-brands fa-css3-alt text-4xl  dark:text-white"></i>
            <p>CSS</p>
        </div>
        <div class="drop-shadow-lg duration-300 ease-out from-slate-100 via-slate-300 to-slate-400 hover:bg-gradient-to-br dark:from-slate-400 dark:via-slate-600 dark:to-slate-800 mx-2 my-2 py-2 px-5 flex flex-col justify-center items-center rounded-lg border-2 border-slate-400">
            <i class="drop-shadow-lg fa-brands fa-node text-4xl  dark:text-white"></i>
            <p>Node.js</p>
        </div>
        <div class="drop-shadow-lg duration-300 ease-out from-slate-100 via-slate-300 to-slate-400 hover:bg-gradient-to-br dark:from-slate-400 dark:via-slate-600 dark:to-slate-800 mx-2 my-2 py-2 px-5 flex flex-col justify-center items-center rounded-lg border-2 border-slate-400">
            <i class="drop-shadow-lg fa-brands fa-react text-4xl  dark:text-white"></i>
            <p>React</p>
        </div>
        <div class="drop-shadow-lg duration-300 ease-out from-slate-100 via-slate-300 to-slate-400 hover:bg-gradient-to-br dark:from-slate-400 dark:via-slate-600 dark:to-slate-800 mx-2 my-2 py-2 px-5 flex flex-col justify-center items-center rounded-lg border-2 border-slate-400">
            <i class="drop-shadow-lg fa-brands fa-figma text-4xl  dark:text-white"></i>
            <p>Figma</p>
        </div>
    </div>
</div>